 /*
 html, body {
     overflow: visible;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: #003865;
     color: #ffffff;
 }

 a {
    color: #f31313
 }
*/

html {
    overflow: visible;
    margin: 0;
    padding: 0;

    color: #ffffff;
    font-family: sans-serif, serif, monospace;
}

body {
    min-width: 100vh;
    min-height: 100vh;
    background: linear-gradient(220deg, #0068be, #161729);
    background-repeat: no-repeat;
    background-size: cover;

    margin: 5px;
}

h1, h2, a {
    text-shadow: 4px 4px #000000;
}

.showcase {
    display: inline-block;
    width: 48%;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    row-gap: 20px;
    column-gap: 20px;
}

button {
    flex: 0 0 25%;
    height: 5vh;

    background: linear-gradient(180deg, #fb6953, black);
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px #000000;
    border-radius: 10px;
    border: 2px solid black;
}

button:hover {
    color: yellow;
}